@import url(http://fonts.googleapis.com/css?family=Henny+Penny);
* {
  margin: 0;
}
*::selection {
  color: #ffffff;
}
.section {
  height: 100vh;
}
label {
  color: #fff;
}
h4 {
  color: #2ecc40;
  padding-top: 20px;
  font-family: 'Henny Penny', cursive;
  font-size: 80px;
  text-shadow: 3px 3px 5px #111111;
}
.intro {
  background-image: url("http://i.imgur.com/ZrBUX32.jpg");
  background-size: cover;
}
#contact {
  margin-top: 80px;
}
h3 {
  font-family: 'Henny Penny', cursive;
  color: #2ecc40;
}
html {
  height: 100%;
  width: 100%;
}
li {
  display: inline;
  padding: 10px;
}
a:visited {
  text-decoration: none;
  color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
}
#mainchar {
  color: red;
}
.navigation {
  margin-top: 20px;
  text-align: center;
}
.nav {
  margin-top: 50px;
}
.button {
  margin: 0 auto;
  height: 45px;
  width: 120px;
  /*border: 2px solid rgba(255, 255, 255, 1);*/

  color: #fff;
  margin-top: 15px;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  display: inline-block;
}
.button i {
  align: center;
  margin-top: 12.5px;
}
.button a {
  text-align: center;
}
.button:hover {
  background-color: #fff;
  -webkit-transition: color 300ms linear;
  -moz-transition: color 300ms linear;
  -o-transition: color 300ms linear;
  -ms-transition: color 300ms linear;
  transition: color 300ms linear;
  opacity: 1;
  color: black;
  /*border: 2px solid rgba(255, 255, 255, 1);*/
}
body {
  background-color: #001f3f;
}
h1 {
  margin-top: 50px;
  font-size: 50px;
  color: #fff;
  text-align: center;
}
p {
  text-align: center;
  font-family: 'Henny Penny', cursive;
  color: #fff;
}
/*.footer p{
  color: #fff;
  padding: 30px;
  bottom: 0px;
  left: 0;
}
.footer{
  margin: auto;
  position: absolute;
}*/
