@import url(http://fonts.googleapis.com/css?family=Henny+Penny);
* {
  margin: 0;
}
*::selection {
  color: #ffffff;
}
.section {
  height: 100vh;
}
label {
  color: #fff;
}
h4 {
  color: #2ecc40;
  padding-top: 20px;
  font-family: 'Henny Penny', cursive;
  font-size: 80px;
  text-shadow: 3px 3px 5px #111111;
  margin: auto;
}
.intro {
  background-image: url("http://i.imgur.com/ZrBUX32.jpg");
  background-size: cover;
}
.form{

}
#contact{
  height: 100%;
}
h3 {
  font-family: 'Henny Penny', cursive;
  color: #2ecc40;
}
html {
  height: 100%;
  width: 100%;
}
a:visited {
  text-decoration: none;
  color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
  font-family: 'Henny Penny', cursive;
}
#mainchar {
  color: red;
}
.navigation {
  margin-top: 20px;
  text-align: center;
}
.nav {
  margin-top: 50px;
}
.button {

  /*border: 2px solid rgba(255, 255, 255, 1);*/

  color: #fff;
  margin-top: 15px;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.button i {
  align: center;
  margin-top: 12.5px;
}

.button:hover {
  background-color: #fff;
  -webkit-transition: color 300ms linear;
  -moz-transition: color 300ms linear;
  -o-transition: color 300ms linear;
  -ms-transition: color 300ms linear;
  transition: color 300ms linear;
  opacity: 1;
  color: black;
  /*border: 2px solid rgba(255, 255, 255, 1);*/
}
body {

  background: -webkit-linear-gradient(90deg, #6441A5 10%, #2a0845 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #6441A5 10%, #2a0845 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #6441A5 10%, #2a0845 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #6441A5 10%, #2a0845 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #6441A5 10%, #2a0845 90%); /* W3C */

}
input[type="text"]{
    opacity: .9;
    border: #fff;
}
input[type="email"]{
    opacity: .9;
    border: #fff;
}
input[]{

}
h1 {
  margin-top: 50px;
  font-size: 50px;
  color: #fff;
  text-align: center;
}
p {
  text-align: center;
  font-family: 'Henny Penny', cursive;
  color: #ff4136;
  font-size: 30px;
  text-shadow: 3px 3px 3px #111111;
}

.form{
  background-image: url("https://download.unsplash.com/photo-1420708392410-3c593b80d416");
  background-size: cover;
}

.comments{
  background-image: url("yooooo.png");
  background-size: cover;
}
/*.footer p{
  color: #fff;
  padding: 30px;
  bottom: 0px;
  left: 0;
}
.footer{
  margin: auto;
  position: absolute;
}*/
